/* A collection of colours taken from various object dumps*/
.common {
    color: #ffffff;
}
.uncommon {
    color: #3dd201;
}
.rare {
    color: #3c8eff;
}
.very-rare {
    color: #a83fe5;
}
.etech {
    color: #ca00e8
}
.legendary {
    color: #ffb400
}
.pearl, .mission-item {
    color: #00ffff;
}
.seraph {
    color: #ff9ab8;
}
.glitch {
    color: #ffa4e7
}
.effervescent, .rainbow {
    animation: effervescent-colours 2s linear infinite;
    color: #b1b151; /* Fallback */
}
@keyframes effervescent-colours {
    /* Probably not 100% accurate, idk what interpolation this uses or what I actually need */
    0% { color: #e95151; }
    16.7% { color: #b1b151; }
    33.3% { color: #51e951; }
    50% { color: #51b1b1; }
    66.7% { color: #5151e9; }
    83.3% { color: #b151b1; }
    100% { color: #e95151; }
}

.explosive {
    color: #f1d300;
}
.fire {
    color: #f57500;
}
.shock {
    color: #00bdf3;
}
.corrosive {
    color: #79dc3d;
}
.slag {
    color: #9b00de;
}
.cryo {
    color: #00d2ff
}

.atmos {
    color: #6c96e8;
}
.eridium {
    color: #9132c8;
}
.health {
    color: #e96464;
}
.money {
    color: #ffff0d;
}
.moonstones {
    color: #49f3bf;
}
.projectile-count {
    color: #ffcc00;
}
.vacuum {
    color: #ac8359;
}
