html {
    min-height: 100%;
}

body {
    font-family: Open Sans;
    color: #e7e8e9;
    background: #203a43;
    background: linear-gradient(#2c5364, #203a43 60%, #0f2027);
}

table, td, th {
    text-align: center;
    padding: 0.3em;
    margin: 0 auto;
}
table {
    margin: 0.5em auto;
}
th {
    font-size: 1.05em;
}

h1, h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h1 {
    text-align: center;
}

br {
    margin-bottom: 0.4em;
}

a {
    color: palevioletred;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #e7e8e9;
}
a:visited {
    color: darkred;
}

img.small {
    max-width: 5.25em;
    max-height: 5.25em;
}
img.med {
    max-width: 8.875em;
    max-height: 8.875em;
}
img.big {
    max-width: 12.5em;
    max-height: 12.5em;
}
img.center {
    display: block;
    margin: 0 auto;
}
img.left {
    float: left;
}
img.right {
    float: right;
}

sup, sub, .smallText {
    font-size: 0.75em;
}

.text {
    max-width: 50em;
    margin: 0 auto;
}
.bigText {
    font-size: 1.5em;
}

.good {
    color: lime;
}
.bad {
    color: red;
}

.preAdd {
    color: #ff0000;
}
.scale {
    color: #ffff00;
}
.postAdd {
    color: #00ffff;
}
.grade {
    color: #ff00ff;
}
