{%- comment -%}
Creates a single row of cells for a grade stats table.  Does not include the table row tags, so you
 can add custom cells before/after.

Args:
    part: The part to pull stats from.
    grades: An array of grade slot names, in the order they should be exported.
{%- endcomment -%}

{%- for grade in include.grades -%}
    {%- assign bonus = include.part.bonuses | where: "slot", grade | first -%}
    {%- unless bonus -%}
        <td>0</td>
        {%- continue -%}
    {%- endunless -%}
    {%- if bonus.value > 0 -%}
        {%- assign class = "good" -%}
        {%- assign value = "+" | append: bonus.value -%}
    {%- else -%}
        {%- assign class = "bad" -%}
        {%- assign value = bonus.value | replace: "-", "&minus;" -%}
    {%- endif -%}
    <td class="{{- class -}}">{{- value -}}</td>
{%- endfor -%}
