{%- comment -%}
Recursively nests nav entries.

Args:
    nav: A list of nav entries.
    classes: A string of custom classes to apply to all anchor tags.
{%- endcomment -%}

<ul>
    {% assign sorted_items = include.nav | sort_natural: "title" %}
    {% for item in sorted_items %}
        <li>
            {% assign classes = include.classes %}
            {% if item.url == page.url %}
                {% assign classes = classes | append: " nav-current" %}
            {% endif %}

            <a href="{{ item.url }}" class="{{classes}}">{{ item.title }}</a>
        </li>
        {% if item.sub %}
            {% include _nav_nest.html nav=item.sub classes=include.classes %}
        {% endif %}
    {% endfor %}
</ul>
