{% assign attributes = site.data.attributes.attributes | sort_natural: "name" %}
{% if include.filter %}
    {% if include.filter[0] %}
        {% assign filters = include.filter %}
    {% else %}
        {% assign filters = include.filter | split: "," %}
    {% endif %}
    {% assign attributes = attributes | where_exp: "item", "filters contains item.attribute" %}
{% endif %}

<table class="left">
{% if include.by_resolver %}
    {% assign grouped_attributes = attributes | group_by: "resolver" | sort_natural: "name" %}
    {% for group in grouped_attributes %}
        {% assign resolver = site.data.attributes.resolvers | where: "class", group.name | first %}
        <tr>
            <th colspan="2"><h3>{{resolver.name}} Resolver</h3></th>
        </tr>
        {% include _attribute_iter.html attributes=group.items %}
    {% endfor %}
{% else %}
    {% include _attribute_iter.html attributes=attributes %}
{% endif %}
</table>
