{% if include.part.bonuses %}
    {% assign grouped_bonuses = include.part.bonuses | group_by: "restrict" | sort_natural: "name" %}
    {% for group in grouped_bonuses %}
        {% if group.name != "" %}
            {% unless include.show_restricted %}
                {% break %}
            {% endunless %}
            {% unless forloop.first %}
                <br>
            {% endunless %}
            <strong>On {{group.name}}:</strong><br>
        {% endif %}

        {%- comment -%}
        We want to sort by attribute names.
        This is an absolute mess because you can't sort off of an expression, and you can't create
         mappings.

        First we work out the attribute name and value we want
        We then join these into a string, in *reverse*, with the name first
        We add all of these strings into a single array
        Sorting this array then sorts by attribute name
        We can then split up each entry again, and reverse them to get value in front again in the
         format we actually output
        {%- endcomment -%}

        {% assign fake_dict_seperator = "&|^|&" %}
        {% assign fake_dict = "" | split: "" %}
        {% for bonus in group.items %}
            {% if bonus.slot %}
                {% assign grade_stats = include.meta.standard_definition.grades
                                        | where: "slot", bonus.slot
                                        | first %}
                {% assign attr = site.data.attributes
                                    | where: "obj", grade_stats.attribute
                                    | first %}
                {% assign actual_value = bonus.value
                                  | times: grade_stats.per_grade
                                  | plus: grade_stats.base %}
                {% assign actual_bonus_type = grade_stats.type %}
            {% else %}
                {% assign attr = site.data.attributes
                                    | where: "obj", bonus.attribute
                                    | first %}
                {% assign actual_value = bonus.value %}
                {% assign actual_bonus_type = bonus.type %}
            {% endif %}

            {% if attr %}
                {% assign name = attr.name %}
            {% elsif bonus.slot %}
                {% assign name = bonus.slot %}
                {% assign name = '<span style="font-size: 2em; color: red">'
                                    | append: name
                                    | append: "</span>" %}
            {% else %}
                {% assign name = bonus.attribute | split: "." | last %}
                {% assign name = '<span style="font-size: 2em; color: red">'
                                    | append: name
                                    | append: "</span>" %}
            {% endif %}

            {% if include.simple and attr%}
                {% if actual_value > 0 %}
                    {% assign positive = true %}
                {% else %}
                    {% assign positive = false %}
                {% endif %}

                {% if actual_bonus_type == "scale" %}
                    {% assign positive_good = attr.multi_good %}
                    {% if positive %}
                        {% assign actual_value = 1 | plus: actual_value %}
                        {% assign actual_value = "&times;" | append: actual_value %}
                    {% else %}
                        {% assign actual_value = 1 | minus: actual_value %}
                        {% assign actual_value = "&divide;" | append: actual_value %}
                    {% endif %}
                {% else %}
                    {% assign positive_good = attr.add_good %}
                    {% if attr.percent %}
                        {%- comment -%}
                        Normally we'd turn float 0.5 will turn into the value 50.0%
                        We want to round that, but we also want to keep 0.123 -> 12.3%
                        This mess grabs the amount of decimals in the value, so we can round extra
                         ones away if needed
                        {%- endcomment -%}

                        {% assign decimals = actual_value
                                             | floor
                                             | minus: actual_value
                                             | times: -1
                                             | append: ""
                                             | size
                                             | minus: 2
                                             | at_least: 0 %}

                        {% assign actual_value = actual_value | times: 100 %}
                        {% if decimals <= 2 %}
                            {% assign actual_value = actual_value | round %}
                        {% endif %}
                        {% assign actual_value = actual_value | append: "%" %}
                    {% endif %}
                    {% if positive %}
                        {% assign actual_value = "+" | append: actual_value %}
                    {% endif %}
                {% endif %}

                {% if positive %}
                    {% if positive_good %}
                        {% assign bonus_class = "good" %}
                    {% else %}
                        {% assign bonus_class = "bad" %}
                    {% endif %}
                {% else %}
                    {% if positive_good %}
                        {% assign bonus_class = "bad" %}
                    {% else %}
                        {% assign bonus_class = "good" %}
                    {% endif %}
                {% endif %}

                {% assign value_str = '<span class="'
                                  | append: bonus_class
                                  | append: '">'
                                  | append: actual_value %}
                {%- comment -%} Deliberately leave the span unclosed for now {%- endcomment -%}

            {% else %}
                {% assign value_str = '<span class="' | append: bonus.type | append: '">' %}
                {% if bonus.value > 0 %}
                    {% assign value_str = value_str | append: "+" %}
                {%- endif -%}
                {% assign value_str = value_str | append: bonus.value | append: "</span>" %}
            {% endif %}

            {% assign fake_dict_entry = name | append: fake_dict_seperator | append: value_str %}
            {% assign fake_dict = fake_dict | push: fake_dict_entry %}
        {% endfor %}

        {% assign fake_dict = fake_dict | sort_natural %}
        {% for entry in fake_dict %}
            {% assign entry_parts = entry | split: fake_dict_seperator %}
            {{entry_parts[1]}} {{entry_parts[0]}}
            {%- comment -%}
            Close the span we left open, *after* the attribute name
            {%- endcomment -%}
            {% if include.simple %}
                </span>
            {% endif %}
            {% unless forloop.last %}
                <br>
            {% endunless %}
        {% endfor %}
    {% endfor %}
{% else %}
-
{% endif %}
