{%- comment -%}
Creates a table showing off the base values for all definitions.

Args:
    meta: The relevant item metadata.
    overrides: A list of overrides. See below.

Overrides
=========
Some manual adjustments might need to be made to the layout this generates - most commonly adding
 footnotes to oddities. This can be done using the `overrides` arg.

Each override entry can have the following fields:
- idx: 1            # Required. The index in the container of the definition to adjust (1-indexed).
                    #  Must be unique - only the first matching index will ever be used.
  footnote: ""      # The id of a footnote to put after the definition name.
{%- endcomment -%}

{%- assign standard_definition = include.meta.definitions[include.meta.standard_definition_idx] -%}

{%- assign sorted_definitions = include.meta.definitions | sort_natural: "name" -%}
{%- assign non_unique_definitions = sorted_definitions | where: "unique", false -%}
{%- assign unique_definitions = sorted_definitions | where: "unique", true -%}
{%- assign ordered_definitions = non_unique_definitions | concat: unique_definitions -%}

{%- comment -%}
Same concept as in `bonus_block.html` - to sort by expression we squash everything into an array
of strings, with the key at the front.
This time though, we can leave each string as the table row directly, without needing to process it.
{%- endcomment -%}

{%- assign all_rows = "" | split: "" -%}
{%- for standard_base in standard_definition.base -%}
    {%- assign attr = site.data.attributes
                      | where: "obj", standard_base.attribute
                      | first -%}
    {%- assign row = "<tr><th>" | append: attr.name | append: "</th>" -%}

    {%- for definition in ordered_definitions -%}
        {%- assign inner_base = definition.base
                                | where: "attribute", standard_base.attribute
                                | first -%}

        {%- assign row = row | append: "<td>" -%}
        {%- if inner_base.scale -%}
            {%- if inner_base.value == 1 -%}
                {%- assign row = row | append: inner_base.scale -%}
            {%- elsif inner_base.value == -1 -%}
                {%- assign row = row | append: "&minus;" | append: inner_base.scale -%}
            {%- else -%}
                {%- assign row = row
                                 | append: inner_base.value
                                 | append: "&times;"
                                 | append: inner_base.scale -%}
            {%- endif -%}
        {%- else -%}
            {%- assign row = row | append: inner_base.value -%}
        {%- endif -%}
        {%- assign row = row | append: "</td>" -%}
    {%- endfor -%}

    {%- assign row = row | append: "</tr>" -%}
    {%- assign all_rows = all_rows | push: row -%}
{%- endfor -%}

<table class="border">
    <thead><tr>
        <th></th>
        {%- for definition in ordered_definitions -%}
            {%- assign overrides = include.overrides | where: "idx", forloop.index | first -%}
            <th>
                {{- definition.name -}}
                {%- if overrides.footnote -%}
                    {%- include footnote.html id=overrides.footnote -%}
                {%- endif -%}
            </th>
        {%- endfor -%}
    </tr></thead>
    <tbody>
        {{- all_rows | sort_natural | join: "" -}}
    </tbody>
    <tfoot><tr>
        <td class="footnotes" colspan="{{- include.meta.definitions.size | plus: 1 -}}">
            This table is not exhaustive.
        </td>
    </tr></tfoot>
</table>
