{%- comment -%}
Creates a table showing off the per grade values for all definitions.

Assumes the standard definition containes all slots used in other definitions.

Args:
    meta: The relevant item metadata.
    ignored_grades: An array of grade slot names to ignore.
    overrides: A list of overrides. See below.

Overrides
=========
Some manual adjustments might need to be made to the layout this generates - most commonly adding
 footnotes to oddities. This can be done using the `overrides` arg.

Each override entry can have the following fields:
- idx: 1            # Required. The index in the container of the definition to adjust (1-indexed).
                    #  Must be unique - only the first matching index will ever be used.
  footnote: ""      # The id of a footnote to put after the definition name.
{%- endcomment -%}

{%- assign COLUMN_SEPERATOR = "&|^|&" -%}
{%- assign TYPE_SEPERATOR = ":^:" -%}

{%- assign standard_definition = include.meta.definitions[include.meta.standard_definition_idx] -%}

{%- assign sorted_definitions = include.meta.definitions | sort_natural: "name" -%}
{%- assign non_unique_definitions = sorted_definitions | where: "unique", false -%}
{%- assign unique_definitions = sorted_definitions | where: "unique", true -%}
{%- assign ordered_definitions = non_unique_definitions | concat: unique_definitions -%}

{%- comment -%}
Same concept as in `bonus_block.html` - to sort by expression we squash everything into an array
of strings, with the key at the front.
{%- endcomment -%}

{%- assign all_rows = "" | split: "" -%}
{%- for standard_grade_stats in standard_definition.grades -%}
    {%- if include.ignored_grades contains standard_grade_stats.slot -%}
        {%- continue -%}
    {%- endif -%}

    {%- assign attr = site.data.attributes
                      | where: "obj", standard_grade_stats.attribute
                      | first -%}
    {%- if attr -%}
        {%- assign row = attr.name -%}
    {%- else -%}
        {%- assign row = standard_grade_stats.attribute | split: "." | last -%}
    {%- endif -%}

    {%- if standard_grade_stats.constraint -%}
        {%- assign row = row
                         | append: " ("
                         | append: standard_grade_stats.constraint
                         | append: ")" -%}
    {%- endif -%}
    {%- assign row = row | append: COLUMN_SEPERATOR -%}


    {%- for definition in ordered_definitions -%}
        {%- assign inner_grade_stats = definition.grades
                                      | where: "slot", standard_grade_stats.slot
                                      | first -%}
        {%- unless inner_grade_stats -%}
            {%- assign row = row
                             | append: "-"
                             | append: TYPE_SEPERATOR
                             | append: COLUMN_SEPERATOR -%}
            {%- continue -%}
        {%- endunless -%}

        {%- capture grade_str -%}
            {%- include grade.html grade_stats=inner_grade_stats -%}
        {%- endcapture -%}

        {%- assign row = row
                         | append: grade_str
                         | append: TYPE_SEPERATOR
                         | append: inner_grade_stats.type
                         | append: COLUMN_SEPERATOR -%}
    {%- endfor -%}

    {%- assign all_rows = all_rows | push: row -%}
{%- endfor -%}

<table class="border">
    <thead><tr>
        <th></th>
        {%- for definition in ordered_definitions -%}
            {%- assign overrides = include.overrides | where: "idx", forloop.index | first -%}
            <th>
                {{- definition.name -}}
                {%- if overrides.footnote -%}
                    {%- include footnote.html id=overrides.footnote -%}
                {%- endif -%}
            </th>
        {%- endfor -%}
    </tr></thead>
    <tbody>
        {%- assign sorted_rows = all_rows | sort_natural -%}
        {%- for row in sorted_rows -%}
            <tr>
                {%- assign split_row = row | split: COLUMN_SEPERATOR -%}
                {%- assign header = split_row.first -%}
                {%- assign split_row = split_row | shift -%}

                <th>{{- header -}}</th>

                {%- assign last_colspan = 0 -%}
                {%- for column in split_row -%}
                    {%- comment -%} Merge identical cells into one {%- endcomment -%}
                    {%- if last_colspan > 0 -%}
                        {%- assign last_colspan = last_colspan | minus: 1 -%}
                        {%- continue -%}
                    {%- endif -%}

                    {%- for searching_column in split_row offset: forloop.index -%}
                        {%- if column == searching_column -%}
                            {%- assign last_colspan = last_colspan | plus: 1 -%}
                        {%- else -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {%- assign split_column = column | split: TYPE_SEPERATOR -%}
                    {%- assign bonus = split_column[0] -%}
                    {%- assign type = split_column[1] -%}
                    {%- if bonus != "-" -%}
                        {%- assign type = type | append: " per-grade" -%}
                    {%- endif -%}

                    <td class="{{- type -}}" colspan="{{- last_colspan | plus: 1 -}}">
                        {{- bonus -}}
                    </td>
                {%- endfor -%}
            </tr>
        {%- endfor -%}
    </tbody>
</table>
