{%- comment -%}
Formats the base/per-grade of a grade stat entry. Intended to be captured into a variable.

Args:
    grade_stats: The grade stat entry to process.
{%- endcomment -%}

{%- if include.grade_stats -%}
    {%- capture base -%}
        {%- include value_formula.html
            value=include.grade_stats.base
            formula=include.grade_stats.base_formula
            brackets=true
        -%}
    {%- endcapture -%}

    {%- capture per_grade -%}
        {%- include value_formula.html
            value=include.grade_stats.per_grade
            formula=include.grade_stats.per_grade_formula
            brackets=true
        -%}
    {%- endcapture -%}

    {{- base -}}{{- " " -}}{{- per_grade -}}
{%- else -%}
    -
{%- endif -%}
