{%- comment -%}
Displays a part block, with all their relevant bonuses.

Args:
    parts: An array of part entries to display.
    meta: The relevant weapon metadata.
    id: An id to give the surrounding div. If not defined, no id is given.
    uniques: If unique parts from the array should be included.
    mesh_image: If to display an image of the part's mesh.
    image_class: A string of custom classes to apply to mesh images.
    mesh_name: If to display the name of the part's mesh.
    hide_bonuses: If to hide the bonuses block.

Passthrough args to `bonus.html`:
    simple_bonuses: Display simple bonuses, which calculate the exact bonus value and only display
                     good/bad instead of proper bonus type.
{%- endcomment -%}


{% unless include.parts and include.meta %}
<span style="font-size: 20em; color: red">ERROR</span>
    {% break %}
{% endunless %}

{% assign id = "" %}
{% if include.id %}
    {% assign id = 'id="' | append: include.id | append: '"'%}
{% endif %}

<div {{id}} class="part-container">
    {% assign sorted_parts = include.parts | sort_natural: "_obj_name" %}
    {% unless include.uniques %}
        {% assign sorted_parts = sorted_parts | where: "unique", false %}
    {% endunless %}
    {% for part in sorted_parts %}
        <div class="part-block">
            <h4>{{part._obj_name | split: "." | last}}</h4>

            {% assign mesh = include.meta.meshes | map: part.mesh | first %}
            {% if include.mesh_image %}
                <img class="{{include.image_class}}" src="{{mesh.src}}">
            {% endif %}
            {% if include.mesh_name %}
                {% if include.mesh_image %}
                    <br>
                {% endif %}
                {% if mesh %}
                    {{mesh.name}} Mesh
                {% elsif part.mesh %}
                    {{part.mesh}} Mesh
                {% else %}
                    No Mesh
                {% endif %}
            {% endif %}

            {% unless include.hide_bonuses %}
                <div class="part-bonuses">
                    {% include bonus_block.html
                        part=part
                        meta=include.meta
                        simple_bonuses=include.simple_bonuses
                    %}
                </div>
            {% endunless %}
        </div>
    {% endfor %}
</div>
