{% assign id = "" %}
{% if include.id %}
    {% assign id = 'id="' | append: include.id | append: '"'%}
{% endif %}
{% assign image_class = "big" %}
{% if include.image_class %}
    {% assign image_class = image_class %}
{% endif %}

<div {{id}} class="part-container">
    {% assign sorted_parts = include.parts | sort_natural: "name" %}
    {% for part in sorted_parts %}
        <div class="part-block">
            <h4>{{part.name}}</h4>
            <img class="{{image_class}}" src="{{part.src}}">
        </div>
    {% endfor %}
</div>
