{%- comment -%}
Displays a part reference block.

Args:
    id: An id to give the surrounding div. If not defined, no id is given.
    image_class: A string of custom classes to apply to reference images. If not defined, defaults
                  to `big`.
    parts: An array of part reference entries to display.
    alt_format: A string to format each image's alt text as. The string "%PART%" is replaced with
                 the part name. Defaults to `%TITLE% %PART% Part`, where `%TITLE%` is the first word
                 of the page's title.
{%- endcomment -%}

{%- assign id = "" -%}
{%- if include.id -%}
    {%- assign id = 'id="' | append: include.id | append: '" '-%}
{%- endif -%}
{%- assign image_class = "big" -%}
{%- if include.image_class -%}
    {%- assign image_class = include.image_class -%}
{%- endif -%}
{%- assign alt_format = page.title | split: " " | first | append: " %PART% Part" -%}
{%- if include.alt_format -%}
    {%- assign alt_format = include.alt_format -%}
{%- endif -%}

<div {{- " " | append: id -}} class="part-container">
    {%- assign sorted_parts = include.parts | sort_natural: "name" -%}
    {%- for part in sorted_parts -%}
        <div class="part-block">
            <h4>{{- part.name -}}</h4>
            <img class="{{- image_class -}}"
                 src="{{- part.src -}}"
                 alt="{{- alt_format | replace: "%PART%", part.name -}}">
        </div>
    {%- endfor -%}
</div>
