---
layout: default
hidden_parts:
    - Elements
    - Materials
---
<style>
h2 {
    text-align: center;
}
</style>

<h1>{{page.title}}</h1>

{% if page.hidden_parts %}
    {% assign hidden_parts = page.hidden_parts %}
{% else %}
    {% assign hidden_parts = layout.hidden_parts %}
{% endif %}
{% assign hidden_parts_sentence = hidden_parts
                                  | sort_natural
                                  | array_to_sentence_string: "and"
                                  | downcase %}

Note that this page omits all {{hidden_parts_sentence}} which don't provide any bonuses for brevity.

{% assign parts_file = site.data | map: page.parts | first %}
{% for group in parts_file %}
    {% assign slot = group[0] %}
    {% assign parts = group[1] %}

    {% assign name_mapping = parts_file.meta.slot_names | map: slot | first %}
    {% if name_mapping %}
        {% assign name = name_mapping  %}
    {% else %}
        {% assign name = slot | capitalize %}
    {% endif %}

    {% if name == "Meta" %}
        {% continue %}
    {% elsif hidden_parts contains name %}
        {% assign parts = parts | where_exp: "part", "part.bonuses" %}
    {% endif %}
    {% if parts.size == 0 %}
        {% continue %}
    {% endif %}

    <h2>{{name}}</h2>
    {% include parts.html
        parts=parts
        meta=parts_file.meta
        uniques=true
        mesh_name=true
    %}
{% endfor %}
