---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/style-simple.css">
    <link rel="stylesheet" type="text/css" href="/colours.css">
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
</head>
<body>
    {% include nav.html %}
    <div class="nav-offset">
        <div class="content">
            {{content}}
        </div>
    </div>
    <script>anchors.add();</script>
</body>
